.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thick solid black;
  box-shadow: $base-box-shadow;
  border-radius: $base-border-radius;
  max-width: 400px;

  .card-title {
    font-size: $base-font-size;
    padding-bottom: $base-padding;
    font-weight: bold;
  }

  .card-body {
    font-size: $base-font-size;
  }
}
